@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.custom-node {
  @apply bg-white border border-gray-200 rounded-lg shadow-md p-2 flex flex-row items-center gap-3;
}

.custom-node-left {
  @apply border border-indigo-800 bg-indigo-400 text-white rounded-md p-2 flex items-center justify-center shadow-lg;
}

.custom-node-icon {
  @apply text-xl text-white size-6;
}

.custom-node-right {
  @apply flex-1 text-gray-800 flex flex-col justify-start items-start text-left min-w-32;
}

.custom-node-heading {
  @apply text-lg font-semibold;
}

.custom-node-label {
  @apply text-base text-gray-600 capitalize;
}

.custom-node-handle {
  @apply bg-gray-200 border border-gray-700 rounded-full w-4 h-4;
}

.app-container {
  width: 100vw;
  height: 100vh;
}